<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Motivation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink = "/">Home (lect 7) <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/courses">lect 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/oops">lect 3.1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/persons">lect 3.2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/encapsulation">lect 4.1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/injecter-provider">lect 4.2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/waste">lect 5 & 6 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/api">lect 8 & 9 (API)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/card">Project 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/material">Angular Material</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/analytics">lect 10 (Eager Loading)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/myshop">Project 2</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>