<h2 style="text-align:center">LECTURE 4.1</h2>
<h4>Injector Provider</h4>
<div class="row">
    <div class = "col-sm-4" *ngFor  = "let e of persons_arr">
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{e.name}}</strong><br>
            {{e.address}} 
        </div>
    </div>
</div>
<hr>
<a routerLink = "/injecter-provider/add-person">Add Person [LECT 5]</a>

<hr>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>